@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

:root {
    --main-color: #1992d4;
    --main-color-lighter: #20b1ff;
    --grey-color: #e2e8f0;
    --white-color: #ffffff;
    --dark-font-color:#0a100d;
    --light-font-color: #5e6472;
    --main-font: 'Quicksand', sans-serif;
}

* {
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

.icon {
    width: 30px;
    height: 30px;
}

.header {
    background-color: var(--white-color);
    grid-column: 2 / 3;
    box-shadow: 0px 1px 5px black;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .navbar {    
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.header .navbar .search {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .navbar svg {
    transition: all 100ms ease-out;
}

.header .navbar svg:hover {
    scale: 1.5;
    cursor: pointer;
}

.header .navbar svg:active {
    scale: 0.9;
    cursor: pointer;
}


.header .navbar .search input {
    width: 100%;
    height: 30px;
    border-radius: 100px;
    background-color: var(--grey-color);
    outline: none;
    padding: 10px;
}

.header .navbar .search input:focus {
    box-shadow: 0px 0px 10px 1px var(--main-color);    
}

.header .navbar .profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
}

.header .navbar .profile .picture {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-image: url(images/panda.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.picture {
    transition: all 100ms ease-in-out;
}

.picture:hover {
    scale: 1.2;
    box-shadow: 0 0 10px 5px grey;
}

.picture:active {
    scale: 0.9;
}

.header .navbar .profile .user-name {
    font-weight: 900;
    font-size: 1.2rem;
    transition: all 100ms ease-in-out;
}

.header .navbar .profile .user-name:hover {
    scale: 1.1;
    cursor: pointer;
}

.header .navbar .profile .user-name:active {
    scale: 0.9;
}


.header .profile-info {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 20px;
}

.header .profile-info .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.header .profile-info .user .picture {
    background-image:url(images/panda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.header .profile-info .user .user-id {
    font-weight: 900;
    font-size: 0.9rem;
    line-height: 25px;
}

.header .profile-info .user .user-id span{
    font-size: 1.2rem;
}

.header .profile-info .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:30px;
}

.header .profile-info .buttons-container button {
    background-color: var(--main-color);
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 25px;
    font-weight: 900;
    color: var(--white-color);
}

.header .profile-info .buttons-container button:hover{
    background-color: var(--main-color-lighter);
    cursor: pointer;
}


.sidebar {
    background-color: var(--main-color);
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 100px repeat(11, 50px);
    grid-template-areas:
        "dashboard"
        "........."
        "home"
        "profile"
        "messages"
        "history"
        "tasks"
        "communities"
        "........."
        "settings"
        "support"
        "privacy"
    ;
    z-index: 20;
}


.sidebar > .dashboard {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 0 0 0 15px    
}


.sidebar .dashboard p {
    font-size: 1.8rem;
    padding: 0 0 0 20px
}

.sidebar .dashboard .icon {
    width: 60px;
    height: 60px;
}

.sidebar div {
    transition: all 100ms ease-in-out;
}

.sidebar > div:not(div.dashboard) {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 0 0 0 30px;
}

.sidebar div:not(:nth-child(2)):not(:nth-child(9)):hover {
    cursor: pointer;
    background-color: var(--main-color-lighter);
}

.sidebar div:not(:nth-child(2)):not(:nth-child(9)):active {
    scale: 0.9;
}


.sidebar  p {
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
}




.content {
    background-color: slateblue;
    grid-column: 2 / 3;
}